{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section class='mainreset'>
		<h1 class="reset">Réinitialiser votre mot de passe</h1>
		<div class="form-container">
			<div class="row justify-content-center">
				<div class="col-12">
					{{ form_start(passForm) }}
					{{ form_row(passForm.plainPassword) }}
				</div>
				<div class='d-flex justify-content-center'>
					<button type="submit">Envoyer</button>
				</div>
				{{ form_end(passForm) }}
			</div>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success mt-2">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('danger') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
