{% extends 'base.html.twig' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block body %}

	<div class="container-fluid mt-3">
		<div
			class="container containers">
			<!-- Rubrik au-dessus du contenu -->
			<div class="row">
				<div class="col-md-12 mb-3 wtitle">
					<h1>{{ post.rubrik }}</h1>
			</div>
		</div>

		<div
			class="row center-content">
			<!-- Colonne pour le contenu existant -->
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 mb-3 text-center">
						{% if post.image1 is not empty %}
							<div style="position: relative; display: inline-block;">
								<img
								class="img-fluid simg" src="{{ asset('divers/images/' ~ post.image1) }}" alt="Image principale {{ post.rubrik }}" loading="lazy"/>
								<!-- Bouton "+" pour ouvrir la première galerie -->
								<button class="gallery-button" onclick="openModalGroup1(0)">+</button>
							</div>
						{% endif %}
						<div id="photoModalGroup1" class="modal">
							<span class="close" onclick="closeModalGroup1()">&times;</span>
							<div class="modal-content">
								<img id="modalImageGroup1" src="" alt="Photo de la première galerie">
								<div class="modal-navigation">
									<a class="prev" onclick="changeSlideGroup1(-1)">&#10094;</a>
									<a class="next" onclick="changeSlideGroup1(1)">&#10095;</a>
								</div>
								
							</div>
						</div>
					</div>

					<div class="col-md-12 mb-4 text-justify wtexte">
						{{ post.content|raw }}
					</div>
					<div class="col-md-12 mb-1 wcreat">
						<time datetime="{{ post.createdAt|date('Y-m-d') }}">le
							{{ post.createdAt|date('d/m/Y') }}</time>
					</div>
					<div class="col-md-12 mb-5 d-flex align-items-center wavat">
						<img class="roundedImage" src="{{ asset('divers/avatars/' ~ post.user.avatar) }}" alt="Avatar de {{ post.user.firstname }} {{ post.user.lastname }}"  loading="lazy">
						&ensp;
						<span>{{ post.user.firstname|capitalize }}
							{{ post.user.lastname|upper }}</span>
						&ensp;
					</div>
				</div>
			</div>

			<!-- Nouvelle colonne pour l'image2 et content2 -->
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 mb-3 text-center">
						{% if post.image2 is not empty %}
							<div style="position: relative; display: inline-block;">
								<img
								class="img-fluid simg" src="{{ asset('divers/images/' ~ post.image2) }}" alt="Deuxième image du post {{ post.rubrik }}" loading="lazy"/>
								<!-- Bouton "+" pour ouvrir la deuxième galerie -->
								<button class="gallery-button" onclick="openModalGroup2(0)">+</button>
							</div>
						{% endif %}
						<div id="photoModalGroup2" class="modal galerie2">
							<span class="close" onclick="closeModalGroup2()">&times;</span>
							<div class="modal-content">
								<img id="modalImageGroup2" src="" alt="Photo de la deuxième galerie">
								<div class="modal-navigation">
									<a class="prev" onclick="changeSlideGroup2(-1)">&#10094;</a>
									<a class="next" onclick="changeSlideGroup2(1)">&#10095;</a>
								</div>
							</div>

    </div>
					</div>
					<div class="col-md-12 mb-3 text-justify wtexte">
						{{ post.content2|raw }}
					</div>
				</div>
				<div class="col-md-12 mb-1 wcreat">
					<time datetime="{{ post.createdAt|date('Y-m-d') }}">le
						{{ post.createdAt|date('d/m/Y') }}</time>
				</div>
				<div class="col-md-12 mb-5 d-flex align-items-center wavat">
					<img class="roundedImage" src="{{ asset('divers/avatars/' ~ post.user.avatar) }}" alt="Avatar de {{ post.user.firstname }} {{ post.user.lastname }}"  loading="lazy">
					&ensp;
					<span>{{ post.user.firstname|capitalize }}
						{{ post.user.lastname|upper }}</span>
					&ensp;
				</div>

			</div>
		</div>

		<p class="descrip mb-5">Sur cette page, vous trouverez quelques-unes de mes créations uniques, spécialement conçues pour mes clients. Chaque création est entièrement personnalisable selon vos désirs et vos préférences. Vous avez une idée précise mais ne savez pas comment la concrétiser ? Contactez-moi, et ensemble, nous donnerons vie à votre projet, en veillant à ce qu'il reflète parfaitement vos attentes.</p>

		<div class="row align-items-center">
			<div class="col-md-6">
				<p class="descrip">Alors n'attendez plus. Contactez-moi pour une question ou un devis !</p>
			</div>
			<div class="col-md-6 d-flex justify-content-end">
				<a href="{{ path('app_contact') }}" class="bouton" role="button" title="Accéder au formulaire de contact">
					Contact
				</a>
			</div>
		</div>

		<!-- Bloc du nombre de commentaires -->
		<div class="row wtexte mt-4">
			<p>{{ post.comments|length }}
				Commentaire(s)</p>
		</div>

		<!-- Formulaire de commentaire et affichage des commentaires -->
		{% if app.user %}
			<!-- Formulaire de commentaire -->
			<div class="btn-comment-container">
				<div class="row mb-3">
					<button id="toggle-comment-form" class="boutons" aria-expanded="false" title="Ajouter un commentaire">
						<span>Ajouter un commentaire</span>
					</button>
				</div>
			</button>

			<!-- Conteneur du formulaire caché par défaut -->
			<div id="comment-form-container" style="display: none;">
				{{ form_errors(comment_form) }}
				{{ form_start(comment_form) }}
				{{ form_widget(comment_form._token) }}

				<div
					class="comment-form-content">
					<!-- Champ de texte pour le commentaire -->
					<div class="form-outline mb-4">
						{{ form_widget(comment_form.content, {attr: { class: 'form-control textaera', placeholder: 'Écrivez votre commentaire ici...', 'aria-label': 'Ecrire votre commentaire ici', title: 'Ecrire un commentaire'} }) }}
					</div>

					<!-- Bouton personnalisé pour soumettre le commentaire -->
					<div class="text-center">
						<button type="submit" class="boutonss" title="Envoyer le commentaire" aria-label="Envoyer le commentaire">
							<span>Envoyer</span>
						</button>
					</div>
				</div>
			</div>

			<!-- Affichage des commentaires -->

			<div class="row">
				<button id="toggle-comments" class="boutons" aria-expanded="false" title="Lire les commentaires" style="white-space: nowrap;">
					<span>Lire les commentaire(s)</span>

				</button>
			</div>

			<div id="comments-container" style="display: none;">
				{% for comment in comments %}
					<!-- Commentaire individuel -->
					<div class="comment  border-bottom pb-3">
						<div
							class="d-flex align-items-center p-2">
							<!-- Avatar -->
							<div class="me-3">
								<img class="img-fluid roundedImage" src="{{ asset('divers/avatars/' ~ comment.user.avatar) }}" alt="avatar" style="width: 20px; height: 20px;" loading="lazy"/>
							</div>
							<!-- Pseudo -->
							<div class="userName">
								<strong>{{ comment.user.pseudo|capitalize }}</strong>
							</div>
							<!-- Date à droite -->
							<div class="text-start ms-3">
								{{ comment.createdAt|date('d/m/Y') }}
							</div>
						</div>
						<!-- Contenu du commentaire -->
						<div class="mt-2 p-2" style="font-size: 1em;">
							{{ comment.content|raw }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>


	{% else %}
		<p class="commente">
			<a class="lien" href="{{ path('app_login') }}">Connectez-vous</a>
			pour accéder aux commentaires.
		</p>
	{% endif %}
</div></div><script>
{% if app.user %}document.getElementById('toggle-comment-form').addEventListener('click', function () {
var formContainer = document.getElementById('comment-form-container');
formContainer.style.display = formContainer.style.display === 'none' || formContainer.style.display === '' ? 'block' : 'none';
});

document.getElementById('toggle-comments').addEventListener('click', function () {
var commentsContainer = document.getElementById('comments-container');
commentsContainer.style.display = commentsContainer.style.display === 'none' || commentsContainer.style.display === '' ? 'block' : 'none';
});{% endif %}
</script>
<script>
   let imagesGroup1 = [
    "{{ asset('divers/images/' ~ post.image3|url_encode) }}", 
    "{{ asset('divers/images/' ~ post.image4|url_encode) }}"
]; 
let imagesGroup2 = [
    "{{ asset('divers/images/' ~ post.image5|url_encode) }}", 
    "{{ asset('divers/images/' ~ post.image6|url_encode) }}"
];

let currentIndex1 = 0;
let currentIndex2 = 0;

// Ouvre la modale pour le premier groupe
function openModalGroup1(index) {
    currentIndex1 = index;
    updateModalImageGroup1();
    document.getElementById('photoModalGroup1').style.display = "block";
}

// Ouvre la modale pour le deuxième groupe
function openModalGroup2(index) {
    currentIndex2 = index;
    updateModalImageGroup2();
    document.getElementById('photoModalGroup2').style.display = "block";
}

// Ferme la modale du premier groupe
function closeModalGroup1() {
    document.getElementById('photoModalGroup1').style.display = "none";
}

// Ferme la modale du deuxième groupe
function closeModalGroup2() {
    document.getElementById('photoModalGroup2').style.display = "none";
}

// Change l'image pour le premier groupe
function changeSlideGroup1(direction) {
    currentIndex1 = (currentIndex1 + direction + imagesGroup1.length) % imagesGroup1.length;
    updateModalImageGroup1();
}

// Change l'image pour le deuxième groupe
function changeSlideGroup2(direction) {
    currentIndex2 = (currentIndex2 + direction + imagesGroup2.length) % imagesGroup2.length;
    updateModalImageGroup2();
}

// Met à jour l'image affichée dans la modale du premier groupe
function updateModalImageGroup1() {
    const modalImage = document.getElementById('modalImageGroup1');
    modalImage.src = imagesGroup1[currentIndex1];
}

// Met à jour l'image affichée dans la modale du deuxième groupe
function updateModalImageGroup2() {
    const modalImage = document.getElementById('modalImageGroup2');
    modalImage.src = imagesGroup2[currentIndex2];
}

</script>
{% endblock %}