{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact
{% endblock %}

{% block body %}
	<div class="container">
	 {% if breadcrumbs is defined %}
                    {% include 'filedariane/breadcrumbs.html.twig' %}
                {% endif %}
		<div class="row justify-content-center">
			<div class="col-md-4" aria-hidden="true" ></div>

			<!-- Colonne centrale contenant le formulaire -->
			<div class="col-md-4 contactee">
				<h1 class="mb-5 titreforme" title="Pour me contacter" aria-label="Formulaire de contact">Contactez-moi</h1>

				<form method="post" enctype="multipart/form-data">
					{{ form_errors(formContact) }}
					{{ form_start(formContact) }}
					{{ form_widget(formContact._token) }}

					<!-- Name input -->
					<div class="form-outline mb-4">
						{{ form_widget(formContact.name, {attr: { class: 'form-control', placeholder: 'Nom','aria-label': 'Nom', title:'Nom'} }) }}
					</div>

					<!-- Email input -->
					<div class="form-outline mb-4">
						{{ form_widget(formContact.email, {attr: { class: 'form-control', placeholder: 'Adresse Mail','aria-label': 'Adresse Mail', title:'Adresse-mail' } }) }}
					</div>

					<!-- Raison du contact input (Select box) -->
					<div class="form-outline mb-4">						
						{{ form_widget(formContact.raison, { attr: { class: 'form-control',  placeholder: 'Motif du contact','aria-label': 'Raison du contact',title: 'Raison du contact' }}) }}
					</div>

					<!-- Message input -->
					<div class="form-outline mb-2">
						{{ form_widget(formContact.message, {attr: { class: 'form-control', placeholder: 'Message', rows: '6', style: 'height: 150px;', 'aria-label': 'Message', title:'Message'} }) }}
					</div>

					<div class="cgu mb-2 text-center">Aucune donnée personnelle n’est conservée par ce formulaire.</div>

					<!-- Submit button -->
					<div class="text-center d-flex justify-content-center">
						<button type="submit" class="boutonCont" title="Envoyer" aria-label="Envoyer la demande de contact">
							<span>Envoyer</span>							
						</button>
					</div>

					{% for message in app.flashes('success') %}
						<div class="alert alert-success mt-2">
							{{ message }}
						</div>
					{% endfor %}

				</form>
			</div>

			<div class="col-md-4" aria-hidden="true"></div>
		</div>
	</div>

{% endblock %}
